<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Water Information</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div id="search-container">
    <input type="text" id="search-bar" oninput="searchWaterBodies()" placeholder="Search water bodies..." style="margin-left: 40px;">
    <div id="search-results"></div>
</div>
  </div>
  <div id="map"></div>
  <div id="mySidenav" class="sidenav">
    <div class="tab-buttons">
      <button class="tablink" onclick="openTab('tab1', this)" id="defaultOpen">Tab 1</button>
      <button class="tablink" onclick="openTab('tab2', this)">Tab 2</button>
    </div>

    <div class="tabcontent-container">
      <div id="tab1" class="tabcontent">
        <h3>Tab 1</h3>
        <p>Water quality refers to ... for future generations.</p>
      </div>

      <div id="tab2" class="tabcontent">
        <h3>Tab 2</h3>
        <p>The extinction of species ... diversity of life on Earth.</p>
      </div>
    </div>

    <button class="close-button" onclick="closeNav()">Close Menu</button>
  </div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="{{ url_for('static', filename='water_bodies.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>